.mac-book-pro-14-1,
.mac-book-pro-14-1 * {
  box-sizing: border-box;
}
.mac-book-pro-14-1 {
  background: #ffffff;
  height: 4910px;
  position: relative;
  overflow: hidden;
}
.rectangle-13 {
  background: #edf1f5;
  width: 1920px;
  height: 4591px;
  position: absolute;
  left: 0px;
  top: 319px;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1545px;
  height: 0px;
  position: absolute;
  left: -15px;
  top: 80px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-12 {
  background: #51779c;
  width: 1919px;
  height: 688px;
  position: absolute;
  left: 0px;
  top: 2865px;
}
.rectangle-15 {
  background: #ffffff;
  width: 1916px;
  height: 1328px;
  position: absolute;
  left: 0px;
  top: 3582px;
}
.frame-9 {
  background: #ffffff;
  padding: 0px 24px 0px 24px;
  width: 862px;
  height: 758px;
  position: absolute;
  left: 106px;
  top: 803px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 0px;
  width: 472px;
  height: 56px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.layer-1 {
  width: 364px;
  height: 453px;
  position: absolute;
  left: 141px;
  top: 82px;
  overflow: hidden;
}
.rectangle {
  width: 100.52%;
  height: 101.15%;
  position: absolute;
  right: -0.52%;
  left: 0%;
  bottom: -1.15%;
  top: 0%;
  object-fit: cover;
}
._31-4-3-851-801-14-6-8-4-1-785-395-1-035-176-54-4-5-8-717-463-4-6-558-214-3-9-5-1-623-062-4-4-542-561-484-067 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 521px;
  top: 82px;
  width: 224px;
  height: 453px;
}
.frame-8 {
  background: #ffffff;
  padding: 80px 24px 80px 24px;
  width: 830px;
  height: 758px;
  position: absolute;
  left: 972px;
  top: 803px;
}
._23-12 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 84px;
  width: 596px;
  height: 77px;
}
.layer-12 {
  width: 576px;
  height: 371px;
  position: absolute;
  left: 10px;
  top: 161px;
  overflow: hidden;
}
.rectangle2 {
  width: 100.15%;
  height: 100.09%;
  position: absolute;
  right: -0.15%;
  left: 0%;
  bottom: -0.09%;
  top: 0%;
  object-fit: cover;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #e6eef1;
  width: 842px;
  height: 651px;
  position: absolute;
  left: 106px;
  top: 1590px;
}
.frame-7 {
  padding: 67px 11px 67px 11px;
  width: 672.99px;
  height: 868px;
  position: absolute;
  left: 212px;
  top: 1565px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 11px;
  top: 67px;
  width: 350px;
  height: 55px;
}
._2023-15-3-099-435-5-5 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 11px;
  top: 122px;
  width: 596px;
  height: 56px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #e6eef1;
  width: 830px;
  height: 649px;
  position: absolute;
  left: 948px;
  top: 1592px;
}
.image {
  width: 668.92px;
  height: 1053px;
  position: absolute;
  left: 948px;
  top: 1545px;
  object-fit: cover;
}
._2023-1-042-493-5-0-14-3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 948px;
  top: 1687px;
  width: 664.45px;
  height: 80px;
}
.frame-10 {
  padding: 24px;
  width: 768px;
  height: 265px;
  position: absolute;
  left: 0px;
  top: 2284px;
}
.frame-6 {
  background: #ffffff;
  padding: 23px 21px 23px 21px;
  width: 802px;
  height: 557px;
  position: absolute;
  left: 114px;
  top: -11px;
}
.layer-13 {
  width: 674px;
  height: 300px;
  position: absolute;
  left: 64px;
  top: 197px;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 103px;
  top: 23px;
  overflow: visible;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 261px;
  top: 26px;
  width: 348px;
  height: 55px;
}
._40-33-5-40-40-17-0-50-16-0 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 261px;
  top: 103px;
  width: 574px;
  height: 136px;
}
.rectangle-7 {
  background: #ffffff;
  width: 868px;
  height: 557px;
  position: absolute;
  left: 910px;
  top: 2273px;
}
.layer-14 {
  width: 287px;
  height: 293px;
  position: absolute;
  left: 1027px;
  top: 2470px;
  overflow: hidden;
}
.rectangle3 {
  width: 99.75%;
  height: 100.7%;
  position: absolute;
  right: 0.25%;
  left: 0%;
  bottom: -0.7%;
  top: 0%;
  object-fit: cover;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 996px;
  top: 2310px;
  width: 348px;
  height: 55px;
}
._68-3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1003px;
  top: 2389px;
  width: 315px;
  height: 136px;
}
.frame-5 {
  background: #a7c6e2;
  padding: 24px;
  width: 1931px;
  height: 760px;
  position: absolute;
  left: -11px;
  top: 1px;
}
.frame-3 {
  width: 1097px;
  height: 521px;
  position: absolute;
  left: 117px;
  top: 60px;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
  width: 1069px;
  height: 375px;
  position: absolute;
  left: 352px;
  top: 164px;
}
._2023-14-594-501-12-686-664-15-0-8-1 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 259px;
  top: 78px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 259px;
  top: 0px;
  width: 608px;
  height: 60px;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 24px;
  top: 104px;
  width: 1215px;
  height: 58px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.combo-chart {
  width: 851px;
  height: 486px;
  position: absolute;
  left: 540px;
  top: 224px;
  overflow: hidden;
}
.vector {
  width: 100%;
  height: 109.45%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -9.45%;
  top: 0%;
  overflow: visible;
}
.group {
  position: absolute;
  inset: 0;
}
.monthly-coffee-production-by-country {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  right: 49.53%;
  left: 17.45%;
  width: 33.02%;
  bottom: 85.74%;
  top: 10.26%;
  height: 4%;
}
.vector2 {
  width: 65.1%;
  height: 3.25%;
  position: absolute;
  right: 17.45%;
  left: 17.45%;
  bottom: 86%;
  top: 10.75%;
  overflow: visible;
}
.vector3 {
  width: 13.96%;
  height: 13.75%;
  position: absolute;
  right: 1.74%;
  left: 84.3%;
  bottom: 67%;
  top: 19.25%;
  overflow: visible;
}
.group2 {
  width: 118.8px;
  height: 19.44px;
  position: static;
}
.vector4 {
  width: 13.96%;
  height: 3.25%;
  position: absolute;
  right: 1.74%;
  left: 84.3%;
  bottom: 77.5%;
  top: 19.25%;
  overflow: visible;
}
.group3 {
  width: 36.55px;
  height: 19.44px;
  position: static;
}
._2022 {
  color: #222222;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 7.25%;
  left: 88.46%;
  width: 4.3%;
  bottom: 77.24%;
  top: 18.76%;
  height: 4%;
}
.vector5 {
  width: 3.49%;
  height: 3.25%;
  position: absolute;
  right: 12.21%;
  left: 84.3%;
  bottom: 77.5%;
  top: 19.25%;
  overflow: visible;
}
.vector6 {
  width: 13.96%;
  height: 3.25%;
  position: absolute;
  right: 1.74%;
  left: 84.3%;
  bottom: 72.25%;
  top: 24.5%;
  overflow: visible;
}
.group4 {
  width: 37.7px;
  height: 19.44px;
  position: static;
}
._2023 {
  color: #222222;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 7.11%;
  left: 88.46%;
  width: 4.43%;
  bottom: 71.99%;
  top: 24.01%;
  height: 4%;
}
.group-4 {
  width: 3.49%;
  height: 3.25%;
  position: absolute;
  right: 12.21%;
  left: 84.3%;
  bottom: 72.25%;
  top: 24.5%;
  overflow: visible;
}
.vector7 {
  width: 13.96%;
  height: 3.25%;
  position: absolute;
  right: 1.74%;
  left: 84.3%;
  bottom: 67%;
  top: 29.75%;
  overflow: visible;
}
.group5 {
  width: 41.12px;
  height: 19.44px;
  position: static;
}
.div6 {
  color: #222222;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 6.71%;
  left: 88.46%;
  width: 4.83%;
  bottom: 66.74%;
  top: 29.26%;
  height: 4%;
}
.vector8 {
  width: 3.49%;
  height: 3.25%;
  position: absolute;
  right: 12.21%;
  left: 84.3%;
  bottom: 67%;
  top: 29.75%;
  overflow: visible;
}
.vector9 {
  width: 65.1%;
  height: 61.75%;
  position: absolute;
  right: 17.45%;
  left: 17.45%;
  bottom: 19%;
  top: 19.25%;
  overflow: visible;
}
.group6 {
  width: 554.01px;
  height: 300.1px;
  position: absolute;
  left: 148.5px;
  top: 93.56px;
  overflow: visible;
}
.group7 {
  width: 629.78px;
  height: 336.56px;
  position: static;
}
.group8 {
  width: 21.7px;
  height: 19.44px;
  position: static;
}
._1 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 78.5%;
  left: 18.95%;
  width: 2.55%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group9 {
  width: 22.85px;
  height: 19.44px;
  position: static;
}
._2 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 73.02%;
  left: 24.3%;
  width: 2.68%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group10 {
  width: 23.99px;
  height: 19.44px;
  position: static;
}
._3 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 67.54%;
  left: 29.64%;
  width: 2.82%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._4 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 62.13%;
  left: 35.06%;
  width: 2.82%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._5 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 56.78%;
  left: 40.54%;
  width: 2.68%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._6 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 51.3%;
  left: 45.88%;
  width: 2.82%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._7 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 45.95%;
  left: 51.36%;
  width: 2.68%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._8 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 40.54%;
  left: 56.78%;
  width: 2.68%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
._9 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 35.06%;
  left: 62.13%;
  width: 2.82%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group11 {
  width: 30.84px;
  height: 19.44px;
  position: static;
}
._10 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 29.24%;
  left: 67.14%;
  width: 3.62%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group12 {
  width: 28.56px;
  height: 19.44px;
  position: static;
}
._11 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 23.96%;
  left: 72.68%;
  width: 3.36%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group13 {
  width: 29.7px;
  height: 19.44px;
  position: static;
}
._12 {
  color: #222222;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 18.48%;
  left: 78.03%;
  width: 3.49%;
  bottom: 13.49%;
  top: 82.51%;
  height: 4%;
}
.group14 {
  width: 66.25px;
  height: 19.44px;
  position: static;
}
._500-000 {
  color: #444444;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 84.3%;
  left: 7.92%;
  width: 7.79%;
  bottom: 17.24%;
  top: 78.76%;
  height: 4%;
}
.group15 {
  width: 10.28px;
  height: 19.44px;
  position: static;
}
._0 {
  color: #444444;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 84.3%;
  left: 14.5%;
  width: 1.21%;
  bottom: 32.61%;
  top: 63.39%;
  height: 4%;
}
.group16 {
  width: 59.4px;
  height: 19.44px;
  position: static;
}
._500-0002 {
  color: #444444;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 84.3%;
  left: 8.72%;
  width: 6.98%;
  bottom: 47.99%;
  top: 48.01%;
  height: 4%;
}
.group17 {
  width: 69.68px;
  height: 19.44px;
  position: static;
}
._1-000-000 {
  color: #444444;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 84.3%;
  left: 7.52%;
  width: 8.19%;
  bottom: 63.36%;
  top: 32.64%;
  height: 4%;
}
._1-500-000 {
  color: #444444;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 84.3%;
  left: 7.52%;
  width: 8.19%;
  bottom: 78.74%;
  top: 17.26%;
  height: 4%;
}
.group18 {
  width: 554.01px;
  height: 19.44px;
  position: static;
}
.month {
  color: #222222;
  text-align: center;
  font-family: "Inter-Italic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 47.32%;
  left: 47.32%;
  width: 5.37%;
  bottom: 4.99%;
  top: 91.01%;
  height: 4%;
}
.vector10 {
  width: 65.1%;
  height: 3.25%;
  position: absolute;
  right: 17.45%;
  left: 17.45%;
  bottom: 5.25%;
  top: 91.5%;
  overflow: visible;
}
.group19 {
  width: 18.28px;
  height: 300.1px;
  position: static;
}
.cups {
  color: #222222;
  text-align: center;
  font-family: "Inter-Italic", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  right: 92.61%;
  left: 2.83%;
  width: 4.57%;
  bottom: 42.11%;
  top: 54.13%;
  height: 3.76%;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.vector11 {
  width: 1.74%;
  height: 61.75%;
  position: absolute;
  right: 95.17%;
  left: 3.09%;
  bottom: 19%;
  top: 19.25%;
  overflow: visible;
}
.vector12 {
  width: 718px;
  height: 220px;
  position: absolute;
  left: 232px;
  top: 185px;
  overflow: visible;
}
.div7 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 262px;
  top: 2904px;
  width: 472px;
  height: 55px;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 262px;
  top: 3637px;
  width: 472px;
  height: 55px;
}
._62-1-7-1-6-9-3-8-3-1-2-2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 262px;
  top: 2996px;
  width: 1220px;
  height: 136px;
}
.image-1 {
  width: 1318px;
  height: 884px;
  position: absolute;
  left: 251px;
  top: 3087px;
  object-fit: cover;
}
.image-2 {
  width: 1185px;
  height: 1675px;
  position: absolute;
  left: 364px;
  top: 3337px;
  object-fit: cover;
}
